*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;

}
.hero{
    height: 100vh;
    width: 100%;
    background-color: black ;
    background-image: url(sl_021821_40890_02.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

   

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;

}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;

}
span{
    color: aqua;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;

}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover{
    color: aqua;
    transition: .4s ease-in-out;
    
}

.btn{
    background-color: aqua;
    color:black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s ease-in-out;
    font-size: 18px;
}

.btn:hover{
    transform: scale(1.1);
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
   
}

h1{
    color: white;
    margin:  5px;
    font-size: 75px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 40px;
}
h4{
    color: rgb(180, 232, 238) ;
    font-size: 18px;
}

.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border:  2px solid aqua;
    outline: none;
    
    border-radius: 30px;    
}
.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    margin-left: 30px;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 30px;
    background-color: aqua;
    box-shadow: 0px 0px 15px gray ;
    top: 5px;
    right: 9px;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: gray;
    background-image: url(mjy15.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}

.about-text{
    width: 550px;

}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size:  75px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 30px;
    margin-bottom:  25px;

    
}
.text{
    color: white;
    align-items: center;
    
}
button{
    background-color: aqua;
    color:black;
    text-decoration: none;
    border: 2px solid white transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s; 
    margin-top: 10px;
    font-size: 18px;

}
button:hover{
    background-color: transparent;
    border: 2px solid aqua;
    color: white;

}

.service{
    background: #101010;
    width: 100%;
    padding: 100px 0px;

}

.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;

}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;

}
.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;

}
.card .button{
    background-color: aqua;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 3px solid aqua;
    cursor: pointer;
    color: white;

}
.contact-me{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;

}
.contact-me .button-two{
    background-color: aqua;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    font-size: 18px;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;

}
.contact-me .button-two:hover{
    background-color: transparent;
    border: 3px solid aqua;
    color: white;
    cursor: pointer;

}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;

}
footer p{
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;

}



